@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

.navigation {
  font-size: 1.5em;
}
.navigation a {
  text-decoration: none;
  color: #999;
}
.navigation a:hover {
  text-decoration: underline;
}
.navigation a.active {
  color: #000;
  font-weight: bold;
}
.rd.wrapper {
  padding: 15px;
}
ul li,
ol li {
  font-size: 1.25em;
  line-height: 1.6em;
  font-family: 'Open Sans', 'cwTeXMing', serif;
}
