.raw-editor .editor {
  border: 1px solid black;
  padding: 20px;
}
.raw-editor .controls .title {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid blue;
  text-align: right;
  color: blue;
}
.raw-editor .controls .control {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.raw-editor .controls .control:hover {
  outline: 1px dashed #ddd;
}
.raw-editor .controls .control.active {
  outline: 1px solid #ddd;
  background-color: #ddd;
}
.raw-editor .controls .control.disabled {
  cursor:not-allowed;
}
